/* место для вашего кода */
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Raleway-Bold';
    src: url('/fonts/Raleway-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
body {
    margin: 0;
    font-family:'Raleway',sans-serif;
    font-weight:400;
    background-color:white;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin:0;
    padding:0;
}
.content__list {
    overflow: auto;
    max-height: 298px;
}
.header_menu-list {
    display: flex;
    align-self:center;
    justify-self: center;
    flex-direction:row;
    gap:32px;
    list-style:circle;
}
.header__link_active {
    text-decoration: none;
    color:#000;
}
.header__links-list-item_no-bullit {
    list-style-type: none;
    color: #000;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.header__menu-link {
    color:#000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container {
    display: grid;
    place-items:center;
}
.header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    margin-top: 92px;
    margin-left: 51px;
    margin-right: 49px;
    margin-bottom: 51px;
    width:auto;
}
.header__logo-img {
    width: 148px;
    height: 105px;

}
.cover {
    background-image:url(/images/cover.jpg);
    background-size: cover;
    position: relative;
    max-width: 1440px;
    min-height: 757px;
    }
    .cover__title {
        color: #fff;
        font-size: 100px;
        font-weight: bold;
        letter-spacing: 30px;
        text-transform: uppercase;
        position: inherit;
        z-index: 3;
        padding: 161px 50px 135px 50px;
      }
      
      .aligned-text {
        display: inline;
        letter-spacing: 30px;
        line-height: 115%;
      }
      
      .aligned-text_center {
        display: block;
        line-height: 100%;
        padding: 20px 30px 20px 0;
        text-align: center;
      }
      
      .aligned-text_right {
        display: block;
        text-align: right;
        line-height: 100%;
      }
      
      .letter-spacing-extended {
        letter-spacing: 60px;
      }
      
      .no-letter-spacing {
        letter-spacing: 0;
      }
      
      .cover__description {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 78px;
        position: inherit;
        z-index: 3;
        padding: 0 50px 60px 0;
      }
      
      .cover__description-text {
        color: #fff;
        font-size: 22px;
        font-weight: normal;
        line-height: 28px;
        text-transform: uppercase;
        word-spacing: 18px;
      }
      
      .bet-button {
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        font-size: 22px;
        text-transform: uppercase;
        padding: 12px 32px;
      }
      
     .bet-button:hover {
        cursor: pointer;
      }
      
     .lots__heading {
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 175px 0 27px 90px;
      }
    .overlay {
        background-color: rgb(0 0 0 / 0.6);
        z-index: 2;
        position:absolute;
        inset: 0;
      }
    
      
     
      .card_type_film {
          background-image: url(../images/card-lot-01.jpg);
      }
      .card_type_book {
          background-image: url(../images/card-lot-02.jpg);
      }
      .card_type_picture {
          background-image: url(../images/card-lot-03.jpg);
      }
      .card__title_film {
          margin-top:50px;
          margin-left:40px;
          margin-right: 40px;
          color: #FFF;
          font-family: 'Raleway-Bold';
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 26.4px */
          text-decoration-line: underline;
          text-transform: uppercase;
      }
      .card__text_film {
        margin-left:40px;
        margin-right: 40px;
        margin-bottom:50px;
        display: flex;
        align-items: stretch;
        color: #FFF;
        font-family: Raleway;
        font-size: 20px;
        vertical-align: bottom;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
      }
      .card_type_film {
          
          width: 430px;
          height:450px;
          background-size: cover;
          background-repeat: no-repeat;
         
         
      }
      .card_type_book {
          width: 430px;
          height:450px;
          background-size: cover;
          background-repeat: no-repeat;
       
      }
      .card_type_picture {
          width: 430px;
          height:450px;
          background-size: cover;
          background-repeat: no-repeat;
         
      }
      
      
      .lots_title {
      color: #000;
      font-family: Raleway;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      }
      .card__title_book {
          margin-top:50px;
          margin-left:40px;
          margin-right: 40px;
          color: #FFF;
          font-family: 'Raleway-Bold';
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 26.4px */
          text-decoration-line: underline;
          text-transform: uppercase;
      }
      .card__text_book{
          margin-left:40px;
          margin-right: 40px;
          margin-bottom:50px;
          display: flex;
          align-items: stretch;
          color: #FFF;
          font-family: Raleway;
          font-size: 20px;
          vertical-align: bottom;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 24px */
          }
      .card__title_picture {
          margin-top:50px;
          margin-left:40px;
          margin-right: 40px;
          color: #FFF;
          font-family: 'Raleway-Bold';
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 26.4px */
          text-decoration-line: underline;
          text-transform: uppercase;
              }
      .card__text_picture{
        margin-left:40px;
        margin-right: 40px;
        margin-bottom:50px;
        display: flex;
        align-items: stretch;
        color: #FFF;
        font-family: Raleway;
        font-size: 20px;
        vertical-align: bottom;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
                  }
      .lots__card-list {
         
            display: flex;
            gap: 25px;
            padding-left: 50px;
            padding-right: 50px;
            list-style: none;
          } 
      .lots_title{
          margin-left: 40px;
      }
      
      .lots__card-list-item {
          height:450px;
          width:430px;
          flex-grow: 1;
          
      }
      
      .main{
        margin-left: auto;
        margin-right: auto;
        width: 1440px;
      }
      
      .card-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 50px 40px;
        z-index: 1;
        position: relative;
        height: 100%;
      }
      .card {
          position: relative;
      }
      .lots {
          margin-top: 180px;
          min-height:100%;
          position: relative;
      max-width: 1440px;
          
      }


.address {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.address__header {
    justify-self: end;
    list-style-type: none;
    padding-top: 3px;
font-size: 18px;
font-style: normal;
line-height: 24.3px;
justify-self: self-end;
max-width: 240px;
}
.phone {
    color:#000;

}
.email {
    color:#000;
}
.address__footer {
    justify-self: start;
}


.about {
    display: grid;
    grid-template-columns:  430px 1fr;
    gap: 8px;
    min-width: 1100px;
    margin-top: 183px;
    padding-left: 38px;
  }

  .about__logo {
    background-color: #000;
    width: 240px;
    height: 240px;
   
    display: flex;
    border-radius: 50%;
    
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    
    justify-self:flex-start;
  }
  
.about__logo-image {
    width: 148px;
    align-items: center;
    margin: auto;
  }
.about__text {
color: #000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
flex-direction: column;
align-self: left;
gap:25px;
}
.about__title {
    color: #000;
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
align-self: left;
margin-top: 100px;
margin-bottom: 100px
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 180px 50px 90px;
    max-width: 1440px;
  }
.footer__social-icon {
    height: 48px;
    width: 48px;
  }
  .footer__social-list {
    display: flex;
    align-self:center;
    justify-self: center;
    flex-direction:row;
    gap:32px;
  }

  .footer__menu-list {
    color: #000;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__social-list-item {
    list-style-type: none;
  }