/* место для вашего кода */
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
body {
    margin: 0;
    font-family:'Raleway',sans-serif;
    font-weight:400;
    background-color:white;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin:0;
    padding:0;
}
.content-section {
   box-sizing: border-box;
   width:100%;
   max-width: 360px;
   min-height:100px;
   margin:auto;
}


.header_menu-list {
    display: flex;
    align-self:center;
    justify-self: center;
    flex-direction:row;
    gap:12px;
    list-style:circle;
}
.header__menu-link {
    color:#000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container {
    display: grid;
    place-items:center;

    /* Устанавливает элементы в центре контейнера */
}
.header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    margin-top: 92px;
    margin-left: 51px;
    margin-right: 49px;
    width:auto;
}
.header__logo {
    
    
}
.header__logo-img {
    width: 148px;
    height: 105px;

}
.cover {
    display:flex;
    flex-direction: column;
    min-width: 1100px;
    max-width:1440px;
    margin:auto;
    background-image:url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size:100% auto;
    white-space:nowrap;
    }
.cover__title {
    color: #FFF;
    text-align:center;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 100px */
    letter-spacing: 30px;
    text-transform: uppercase;
}
.lots__card-list-item
{
    min-height:450px;
    max-width:430px;
    flex-grow:1;
    display: inline-block;
}
.card-link {
    min-height:100% ;
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}
.card__title_film {
    margin-top:50px;
    margin-left:40px;
    margin-right: 40px;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
}
.card__text_film {
margin-top:202px;
margin-left:40px;
margin-right: 40px;
color: #FFF;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
}
.card_type_film {
   
    max-width: 430px;
    min-height:450px;
    background-size: cover;
    background-repeat: no-repeat;
   
   
}
.card_type_book {
    max-width: 430px;
    min-height:450px;
    background-size: cover;
    background-repeat: no-repeat;
 
}
.card_type_picture {
    max-width: 430px;
    min-height:450px;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.lots_title {
color: #000;
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.card__title_book {
color: #FFF;
font-family: Raleway;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 26.4px */
text-decoration-line: underline;
text-transform: uppercase;
}
.card__text_book{
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    }
.card__title_picture {
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
        }
.card__text_picture{
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
            }
.lots__card-list {
    list-style:none;
    display: flex;
    justify-content: space-between;
    gap:25px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    min-height:450px;
    max-width:430px;
    flex-grow:1;
}
.card-link {
    display: block;
    min-height:100%;
}
.card {
    position: relative;
}
.lots {
    
    min-height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    padding:50px 40px;
}
.address {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.address__header {
    justify-self: end;

}
.address__footer {
    justify-self: start;
}
.about__text {
color: #000;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.about__title {
    color: #000;
font-family: Raleway;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}